*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #1EE2DE, #18191B );
}


.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px); 
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);

}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px, solid, white;
    outline: none;
    background-color: rgba(255, 255, 255, .65);
    color: #47504F  ;
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .7);
} 

.span-two{
     grid-column: span 2;
} 

.output {
     
     display: flex;
     align-items: flex-end;
     justify-content: space-around;
     background-color: rgba(0, 0, 0, .65);
     flex-direction: column;
     grid-column: 1 / -1;
     padding: 8px;  
     word-wrap: break-word;
     word-break: break-all;
} 

.output .previous-operand {
    color: #ffff;
    font-size: 2.0rem;
}